.debhelper/                       
*.substvars                   
dysco/                            
dysco-dev/
libdyscostman2/                   
files                             
tmp/                              

